body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1{
    font-size: 50px;
}
.heading h1{
    text-align: center;
}
section{
    display: flex;
    
    height: 650px;
    
}
.half-width{
    text-align: justify;
    width: 40%;
    height: 600px;
    margin-left: 120px;
    margin-top: 25px;
    
    
    
    border-radius: 10px;
    
    
}
.half-width h3{
    padding-top: 200px;
    padding-left: 50px;
}
.half-width p{
    padding-left: 50px;
}
#cox-text{

}
.half-width img{
    width: 80%;
    height: 80%;
    border-radius: 1%;
    border-left: 10px solid;
    border-image: linear-gradient(45deg, tomato, black);
    border-image-slice: 1;
    
}
.heading-style{
    color:hotpink;
}
.link-button{
    text-decoration: none;
    margin-left: 50px;
    background-image: linear-gradient(45deg, blue, pink);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;

}